
  a {
    position: relative;
    display: inline-block;
    margin: 20px;
    color: white;
    background: linear-gradient(to right, cyan, cyan 50%, white 50%);
    background-clip: text;
    font-weight:bold;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
   
  }

a:hover {
    background-position: 0 100%;
  }

.SocialLinks {
    display: inline;  
}

