
.App-header {
  background-color:black;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
 
}

.navbar {
    display: flex;
    padding: 100px;
    font-size: large;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    writing-mode: vertical-lr;
    
  }

  .text .a{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.logo{
background: black;
font-size: 60px;
width:40px;
font-family: inherit;
padding: 0;
border: 0;
animation: myfirst 1s linear 1s infinite alternate;
}
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:cyan; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:orange; left:0px; top:0px;}
}

.logo:focus {
  outline:0;
}
.logo:hover {
  cursor: pointer;
}


